<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <style>
    .info-panel {
      box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      margin-top: -50px;
      background-color: white;
      padding: 10px;
      margin-left: 0px;
    }
    .panel {
      margin-left: 25px;
    }
  </style>
  <body>
    <div class="container d-flex align-items-stretch">
      <nav id="sidebar" class="img">
        <div class="p-4">
          <h1>
            <a href="index.html" class="logo"
              >SIDIAS <span>Sinarmas Digital Absence</span></a
            >
          </h1>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="/"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
              <a href="/permission"
                ><span class="fa fa-address-book mr-3"></span> Permission</a
              >
            </li>
            <li>
              <a href="/calendar"
                ><span class="fa fa-calendar mr-3"></span> Calendar</a
              >
            </li>
          </ul>

          <div class="footer">
            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart" aria-hidden="true"></i> by Fefi Casio
            </p>
          </div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 pt-5 panel">
        <img src="assets/img/sinarmas.png" alt="fefi" width="150" />
        <div class="row mt-5 info-panel">
          <div class="col-lg-4">
            <img
              src="assets/img/profile.png"
              alt=""
              width="150"
              class="image"
            />
          </div>
          <div class="col-lg-6">
            <h3><b>Justin</b></h3>
            <h4>Team Leader IT Support</h4>
            <footer class="mt-4">Since 2022</footer>
          </div>
        </div>
        <h4 class="mt-5"><b>Live Attendance</b></h4>
        <div class="container" style="font-size:32px">
          <span id="hours">00</span>
          <span>:</span>
          <span id="minutes">00</span>
          <span>:</span>
          <span id="seconds">00</span>
          <span id="session">AM</span>
      </div>
      <div class="datetime">
        <div class="time" style="visibility:hidden"></div>
        <div class="date" style="font-size:32px"></div>
      </div>
      <button type="checkin" class="btn btn-success btn-block" style="width:auto">Check In</button>
    <script src="/assets/js/script.js" defer></script>
        <br>
        <br>
        <a class="btn btn-primary" href="/logout" role="button">LOGOUT</a>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
